body {
  display: flex;
  margin-left: 33%;
  margin-right: 33%;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.new,
.correct,
.wrong {
  display: flex;
}

/* .timer {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.invisible {
  display: none;
}

.visible {
  display: flex;
}