body {
  background-color: bisque;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

h1,
.new,
.correct,
.wrong,
.timer-area,
.score-area,
.restart-area,
h2,
h4,
textarea {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.start,
.correct,
.wrong,
.save-initials,
.restart,
.score-reset {
  padding: 5px;
  color: aliceblue;
  background-color: darkmagenta;
}

.invisible {
  display: none;
}